GDS213.1_MeaningfulGame/Assets/Art/
GDS213.1_MeaningfulGame/Assets/Audio/
GDS213.1_MeaningfulGame/Temp/
GDS213.1_MeaningfulGame/obj/
GDS213.1_MeaningfulGame/Logs/
GDS213.1_MeaningfulGame/Library/
GDS213.1_MeaningfulGame/.vs/
